@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');


.App {
  text-align: center;
}

/* sets background color, font, font color for entire app */
body {
	background: #deebef;
	color: #34495e;
}

h1, h2 {
  font-family: 'DM Serif Display', serif;
}

/* sets link color and hover */
a, a:hover {
	color: #34495e;
	text-decoration: none;
}

/* custom background color for button */
.ui.button.btn, .btn .ui.button, .ui.action.input .ui.button, .ui.tiny.label.btn {
  color: #fff;
  background: #34495e;
}

/* custom background color for button on hover */
.ui.button.btn:hover, .btn .ui.button:hover, .ui.action.input .ui.button:hover, .ui.tiny.label.btn:hover {
  color: #fff;
  background: #3e5770;
  /* background: #283847; */
}

/* custom text color */
.ui.comments .comment .author, .ui.comments .comment .text, .ui.radio.checkbox label, .ui.menu .item, .ui.secondary.menu .active.item, .ui.secondary.menu a.item:hover, .ui.secondary.menu .active.item:hover {
  color: #34495e;
}

/* makes header fixed to the top of the screen, full width, and above all other content */
/* transform is to increase z-index for safari, books were previously above */
.ui.segment.fixed {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 11;
  -webkit-transform: translate3d(0, 0, 200px);
  transform: translate3d(0, 0, 200px);
}

/* main container for most pages */
/* adds margin and padding so content is not cramped and clear header */
.main-container {
  margin-left: 2%;
  margin-right: 2%;
  padding-top: 15vh;
  padding-bottom: 10vh;
}

/* makes white container with shadow with all other boxes */
.book-show, .message-container, .book-club {
  background: #fff;
  box-shadow: 10px 10px 8px #888888;
  border-radius: 15px;
}

/* BOOK SHOW PAGE */

/* main container for book show page, centers and shrinks width */
.book-show-container {
  width: 90%;
  margin: auto;
  /* margin-top: 2%; */
}

/* adds padding for title */
.book-show.title {
  padding: 2%;
}

/* adds padding and sets height and overflow for main boxes */
.book-show.content {
  padding: 10%;
  height: 60vh;
  overflow: auto;
  margin: 2%;
}

/* shrinks width of add to booklist dropdown and centers */
.add-to-booklist {
  width: 18em;
  margin: auto;
}

/* centers the image */
.image-show {
  margin: auto;
}

/* INPUTS & ERROR MESSAGES */

/* decreases width of various input fields and error messages and centers them */
.small-input, .ui.message.small-input {
  width: 20em;
  margin: auto;
}

/* left justifies text in error messages */
.ui.message {
  text-align: left;
}

/* BOOK CLUBS */

.book-club {
  width: 255px;
  margin: 2%;
}

.book-club:hover, .book-club:hover h3 {
  background: #34495e;
  color: #fff;
}

.book-club #x {
  float: right;
  margin-top: 3%;
  color: #34495e;
}

.book-club div {
  height: 100%;
  width: 100%;
  padding: 10%;
}

/* makes cursor look like label is clickable */
.ui.tiny.label.btn, .book-club #x {
  cursor: pointer;
}

/* BOOK CLUB MESSAGES */

.message-container {
  max-width: 650px;
  margin: auto;
  padding: 2% 3% 2% 3%;
}

.message-header h1 {
  float: left;
}

.message-header div {
  text-align: right;
}

/* centers, left justifies messages, white background, set height and scroll if longer */
.ui.comments {
  text-align: left;
  /* margin: auto; */
  /* padding: 2%; */
  height: 55vh;
  overflow: auto;
}

.new-message {
  padding-top: 2%;
  margin: auto;
}

/* keeps sender name and date on the same line */
/* also keeps book list name on same line as x-button on book show page */
.author, .book-bl-name {
  display: inline-block;
}

/* HOMEPAGE, LOGIN, SIGNUP PAGES */

/* sets background image for the homepage, login, and signup pages */
.home-login-container {
  height: 100vh;
  background: url("https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2053&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 35vh;
}

/* increases font size of title on homepage */
.home-login-container .title {
  color: #fff;
  font-size: 150px;
  font-family: 'Dancing Script', cursive;
}

/* increases font size of all h1s */
.home-login-container h1 {
  font-size: 48px;
}

/* creates login/signup div with white background */
.login-container {
  width: 30em;
  margin: auto;
  padding: 2%;
  background: #fff;
  border-radius: 15px;
}

/* PROFILE PAGE */

/* sets background image for the profile page */
.profile-container {
  height: 100vh;
  background: url("https://images.unsplash.com/photo-1517770413964-df8ca61194a6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 20vh;
}

.profile-container h1 {
  color: #000;
  font-size: 48px;
}

/* ERROR PAGE */

/* sets background image for the error page */
.error-container {
  height: 100vh;
  background: url("https://images.unsplash.com/photo-1521714161819-15534968fc5f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 40vh;
}

.error-container h1 {
  color: #fff;
  font-size: 48px;
}

/* back to top icon on search page */

#back-to-top {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 2%;
}