/* https://codepen.io/kzf/pen/vEYVmL */

  .bookshelf-container {
    margin: 2%;
  }

  .bookshelf {
    width: 255px;
    margin: 0 auto;
    border: 10px #A87328 solid;
    overflow: hidden;
    background-image: linear-gradient(rgba(0,0,0,.95), rgba(0,0,0,.87) 220px, #b87e2c 220px, #b87e2c 222px, #A87328 222px, #A87328 228px, #986824 228px, #986824 230px);
    background-size: 10px 230px;
    box-shadow: 0px 1000px 0px 400px #7A7668;
    box-shadow: 10px 10px 8px #888888;

  }
  
  .bl-book {
    height: 200px;
    width: 40px;
    float: left;
    color: white;
    font-size: 0.9em;
    margin-bottom: 10px;
    margin-top: 20px;
    transition: -webkit-transform 0.4s ease;
    transition: transform 0.4s ease;
    transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  }
  
  .bl-book-tilted {
    float: left;
    width: 74px;
  }
  
  .bl-book-tilted > .bl-book {
    -webkit-transform: translateY(-3px) translateX(15px) rotate(9deg);
            transform: translateY(-3px) translateX(15px) rotate(9deg);
  }
  
  .bl-book:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  
  .bl-book-dark-grey {
    background-color: #47494b;
    border-left: 2px solid #5d5f61;
    border-right: 2px solid #333435;
  }
  
  .bl-book-blue {
    background-color: #172d55;
    border-left: 2px solid #1e3c72;
    border-right: 2px solid #111f3a;
  }
  
  .bl-book-light-blue {
    background-color: #4c7695;
    border-left: 2px solid #5d8bad;
    border-right: 2px solid #365b76;
  }
  
  .bl-book-grey {
    background-color: #999fa5;
    border-left: 2px solid #bec2c6;
    border-right: 2px solid #6f7376;
    color: black;
  }
  
  .bl-book h3 {
    padding: 0;
    font-size: 1em;
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    -webkit-transform: rotate(0.25turn) translateY(-35px);
            transform: rotate(0.25turn) translateY(-35px);
    width: 170px;
  }
  